In [1]:
import joblib

In [2]:
model = joblib.load('my_model.pkl')

In [3]:
import pandas as pd 
new_data =  pd.read_csv('out.csv')

In [4]:
new_data.shape

(4128, 9)

In [5]:
new_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-118.39,34.12,29.0,6447.0,1012.0,2184.0,960.0,8.2816,<1H OCEAN
1,-117.86,33.77,39.0,4159.0,655.0,1669.0,651.0,4.6111,<1H OCEAN
2,-119.05,34.21,27.0,4357.0,926.0,2110.0,876.0,3.0119,<1H OCEAN
3,-118.15,34.20,52.0,1786.0,306.0,1018.0,322.0,4.1518,INLAND
4,-117.68,34.07,32.0,1775.0,314.0,1067.0,302.0,4.0375,INLAND

In [6]:
new_data.describe

<bound method NDFrame.describe of       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       -118.39     34.12                29.0       6447.0          1012.0
1       -117.86     33.77                39.0       4159.0           655.0
2       -119.05     34.21                27.0       4357.0           926.0
3       -118.15     34.20                52.0       1786.0           306.0
4       -117.68     34.07                32.0       1775.0           314.0
...         ...       ...                 ...          ...             ...
4123    -121.53     38.58                33.0       4988.0          1169.0
4124    -120.44     34.65                30.0       2265.0           512.0
4125    -118.49     34.18                31.0       3073.0           674.0
4126    -117.32     33.99                27.0       5464.0           850.0
4127    -118.91     36.79                19.0       1616.0           324.0

      population  households  median_income ocean_proximity
0         2184.0       960.0         8.2816       <1H OCEAN
1         1669.0       651.0         4.6111       <1H OCEAN
2         2110.0       876.0         3.0119       <1H OCEAN
3         1018.0       322.0         4.1518          INLAND
4         1067.0       302.0         4.0375          INLAND
...          ...         ...            ...             ...
4123      2414.0      1075.0         1.9728          INLAND
4124      1402.0       471.0         1.9750      NEAR OCEAN
4125      1486.0       684.0         4.8984       <1H OCEAN
4126      2400.0       836.0         4.7110          INLAND
4127       187.0        80.0         3.7857          INLAND

[4128 rows x 9 columns]>

In [13]:
%store -r set

In [21]:
pred = model.predict(set)
pred

array([491927.46666667, 275573.33333333, 229246.66666667, ...,
       341833.46666667, 170426.66666667, 152783.36666667])